.row1 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+52 */
    background: #feffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #feffff 0%, #ddf1f9 52%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #feffff 0%,#ddf1f9 52%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #feffff 0%,#ddf1f9 52%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#ddf1f9',GradientType=0 ); /* IE6-9 */
}
.row2 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,f6ffe2+50 */
    background: #feffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #feffff 0%, #f6ffe2 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #feffff 0%,#f6ffe2 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #feffff 0%,#f6ffe2 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#f6ffe2',GradientType=0 ); /* IE6-9 */
}
.row1, .row2 {
    height: 50px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
    font-size: 22px;
    font-family: sans-serif;
    line-height: 48px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
    text-align: center;
    padding: 0px 0px 0px 25px;
}
#range {
    position: absolute;
    z-index: 2;
    font-family: sans-serif;
    font-size: 12px;
    top: 27px;
    left: 27px;
    background-color: #fff;
    padding: 8px;
}
#verticalScroll {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom:15px;
    left: 15px;
    border: 2px solid #ed2;
    overflow: auto;
}
